body{
    margin: 0;
    padding: 0;
    background: #FFE6E6;
}

h1{
    color: #7469B6;
    text-align: center;
    font-size: 5rem;
    margin: 0%;
    margin-top: 3rem;
}

.container{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.box{
    height: 100px;
    width: 100px;
    background-color: #E1AFD1;
    font-size: 3rem;
    border-radius: 10px;
    border: none;
    color: #7469B6;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box:hover{
    background-color: #D2C7ED;
}

#reset-btn{
    padding: 1rem;
    background-color: #E1AFD1;
    border: none;
    color: #7469B6;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reset-btn:hover{
    background-color: #D2C7ED;
}

.new-btn{
    padding: 1rem;
    background-color: #E1AFD1;
    border: none;
    color: #7469B6;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.new-btn:hover{
    background-color: #D2C7ED;
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.msg-winner{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.hide{
    display: none;
}